
<p>
  <strong>Form Code:</strong>
  <%= @form.form_code %>
</p>

<p>
  <strong>Form Name:</strong>
  <%= @form.form_name %>
</p>


<%= link_to 'Edit', edit_study_form_path(@study) %> |
<%= link_to 'Back', study_path(@study) %>
